#bloco1{
    border-radius: 20px;
    border: 1px solid #000;
    background: #302F3D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: inline-flex;
    padding: 32px 76px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#perfil img{
    width: 110px;
    border-radius:50%;
}

#perfil p{
    width: 196px;
    height: 26px;
    color: #837E9F;

    font-family: Merriweather Sans;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#perfil h1{
    width: 128px;
    height: 17px;
    color: #837E9F;

    font-family: Merriweather Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

